.form-Container{
  width:500px;

  border:1px solid red;

  box-sizing: border-box;

  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  text-align: center;

}

.formInput {
  display:flex;
  flex-direction: column;
  padding:2em;
}

.formInput p{

  padding:.5rem;
}