* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #1D2D50;
}
.map-container{
  background-color: oldlace;
  display:relative;
}

.card{
  border: 1px red solid;
  width:250px;
  margin:.5em;
}

.card-contents{
  border: 1px solid red;
  display:flex;


}